entrypoint = "main.lua"
run = "lua main.lua"

[nix]
channel = "stable-24_05"

[languages.lua]
pattern = "**/*.lua"

[languages.lua.languageServer]
start = ["lua-language-server"]

[workflows]
runButton = "RPG"

[[workflows.workflow]]
name = "calculator"
mode = "sequential"
author = 36537944

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "lua calculator.lua"

[[workflows.workflow]]
name = "RPG"
mode = "sequential"
author = 36537944

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "lua RPG.lua"
